<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                        class="hide-menu">Dashboard</span></a></li>
                <li class="list-divider"></li>

                <li class="nav-small-cap"><span class="hide-menu">Add New Data</span></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="/add-destination" aria-expanded="false"><i class="fas fa-globe"></i><span
                    class="hide-menu">Add a Destination
                </span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link" href="/add-place" aria-expanded="false"><i class="fa fa-history" aria-hidden="true"></i>
                    <span
                    class="hide-menu">Add a Place
                </span></a>
                </li>
                <li class="list-divider"></li>

                <li class="nav-small-cap"><span class="hide-menu">All Data</span></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="/all-places" aria-expanded="false"><i class="fas fa-envelope-open"></i><span
                        class="hide-menu">All  Places
                    </span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link" href="/all-destinations" aria-expanded="false"><i class="fas fa-envelope-open"></i><span
                    class="hide-menu">All  destinations
                </span></a>
                </li>
                <li class="list-divider"></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>